:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.section {
  background: #fefbfb;
  min-height: 100vh;
  padding: 0 1em;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 90%;
  margin: 1em auto;
  max-width: 600px;
  flex-shrink: 0;
  background: #ff6262;
  padding: 1em;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.flex-container {
  display: flex;
  gap: 1rem;
}

.header {
  text-align: center;
}

.flex-group1 {
  flex: 1;
}

.flex-group2 {
  flex: 1;
}

.error {
  background: #034741;
  width: fit-content;
  color: #fff;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}

.input-group {
  width: 100%;
  padding: 0.6em;
  font-size: 1rem;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 0.2em;
  font-weight: 600;
}

.input-field {
  width: 100%;
  padding: 0.6em;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.submit-btn {
  display: inline-block;
  width: 50%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #034741;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: background 0.25s ease-in-out;
}

.submit-btn:hover {
  background: #086059;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  margin-inline: 1rem;
  background: #fff;
  padding: 2em;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-text {
  margin-bottom: 1.5em;
  font-size: 1.2rem;
  font-weight: 600;
}

/* Product List */
.product-list {
  text-align: center;
  padding-bottom: 2rem;
  color: #141414;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem 2rem;
  margin-top: 5rem;
  padding: 1.5rem 1rem;
}

.product-card {
  background: #fff;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 1rem;
}

.product-card-img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  display: block;
  border-radius: 8px;
}

.product-card h3 {
  margin: 0.2rem 0;
}

.product-card span {
  font-weight: 600;
  color: #034741;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-group1,
  .flex-group2 {
    flex: 1;
  }

  .submit-btn {
    width: 100%;
  }
}
